extends layout
block content
    h1 Welcome to The Data Express
    hr
    h1 Check out these Awesome Graphs!
    div(id="graphs")
        div(id="top")
            h2 People's Favorite Drinks
            canvas(id="myCanvas" height="400" width="650")
        div(id="mid")
            h2 People's Favorite Color
            canvas(id="myCanvas1" height="400" width="650")
        div(id="bottom")
            h2 People's Favorite Food
            canvas(id="myCanvas2" height="400" width="650")  
    script(src="script.js")