extends layout
block content
    h1 Welcome to The Data Express
    hr
    h2 People's Favorite Drinks
    canvas(id="myCanvas" height="400" width="650")
    h2 People's Favorite Color
    canvas(id="myCanvas" height="400" width="650")
    h2 People's Favorite Food
    canvas(id="myCanvas" height="400" width="650")
    script(src="script.js")