doctype html
html
    head
        //-var title = obj.title;
        block vars
        title #{title}
        link(href='style.css', rel='stylesheet')
        link(rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/tech-icons/64/Connection-512.png")
        link(rel="icon" href="https://cdn3.iconfinder.com/data/icons/tech-icons/64/Connection-512.png")
        link(href="https://fonts.googleapis.com/css?family=Fira+Mono|Nova+Mono" rel="stylesheet")
    body(onLoad="init()")
        header
            nav
                ul
                    each item in config.menu
                        li
                            a(href=item[1]) #{item[0]}
                   
        div(id='content', class='item')
            hr
            block content
            hr
        footer
            p(id="footer") &copy;DataExpress 2017
        