doctype html
html
    head
        -var title = obj.title;
        block vars
        title #{title}
        link(href='style.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Fira+Mono|Nova+Mono" rel="stylesheet")
    body(onLoad="init()")
        header
            nav
                ul
                    each item in config.menu
                        li
                            a(href=item[1]) #{item[0]}
                   
        div(id='content', class='item')
            hr
            block content
        footer
            p(id="footer") &copy;DataExpress 2017
        