extends layout
block content
    h1 Login Page
    hr
    form(action="/account")
    p Username:
    br
    input(type="text" name="username" value="user")
    br
    p Password:
    br
    input(type="text" name="pass" value="pass")
    br
    br
    input(type="submit" value="Submit")
