extends layout
block content
    h1 Login Page
    hr
    div(id='loginForm')
        form(action="/account")
        p Username:
        input(type="text" name="username" value="Enter username")
        p Password:
        input(type="text" name="pass" value="Enter password")
        br
        input(type="submit" value="Submit" id="submitButton" onClick='toHash(username, password)')
