extends layout
block content
    h1 Make an Account
    hr
    form(action = '', method = 'POST') 
        p username: 
            input(type = 'text', name = 'username', value = 'username')
        p password: 
            input(type = 'text', name = 'password', value = 'password')
        button(type = 'Submit', name = 'submit', value = 'Submit')
        
    //Bryson's Question = Which of these game software do you consider the best? Steam, Origin, GOG, Uplay