extends layout
block content
    h1 Make an Account
    hr
    form(action = '', method = 'POST') 
        p
            input(type = 'text', name = 'username', value = 'username')
        p
            input(type = 'text', name = 'password', value = 'password')