extends layout
block content
    h1 Make an Account
    hr
    div(id='loginForm')
        form(action = '', method = '') 
            p Username: 
                input(type = 'text', name = 'username', value = '')
            p Password: 
                input(type = 'text', name = 'password', value = '')
            p E-mail: 
                input(type = 'text', name = 'e-mail', value = '')
            p Age: 
                input(type = 'text', name = 'age', value = '')
            p Question 1: Which is your favorite color?
            p
                input(type = 'radio', name = 'q1', value = 'Red')
                | Red
                input(type = 'radio', name = 'q1', value = 'Blue')
                | Blue
                input(type = 'radio', name = 'q1', value = 'Green')
                | Green
                input(type = 'radio', name = 'q1', value = 'Orange')
                | Orange
            p Question 2: Which food would you prefer?
            p
                input(type = 'radio', name = 'q2', value = 'Burger')
                | Burger
                input(type = 'radio', name = 'q2', value = 'Pizza')
                | Pizza
                input(type = 'radio', name = 'q2', value = 'ChowMein')
                | Chow Mein
                input(type = 'radio', name = 'q2', value = 'NoFood')
                | I don't like food
            p Question 3: What's your favorite Soda
            p
                input(type = 'radio', name = 'q3', value = 'Coke')
                | Coke
                input(type = 'radio', name = 'q3', value = 'Dr.Pepper')
                | Dr. Pepper
                input(type = 'radio', name = 'q3', value = 'Pepsi')
                | Pepsi
                input(type = 'radio', name = 'q3', value = 'MtnDew')
                | Mtn Dew       
            input(type = 'Submit' value = 'Submit')