html{
    
    background-color:#3676E8;
}
body{
    
    background-color:#48BAFF;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding:15px;
}
li{
    font-family: monospace;
    font-size: 1.5em;
    display: inline-block;
    padding: 10px;
    background-color: #5FF;
    border-radius: 10px;
    margin: 5px;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
li:hover{
    background-color: #5DD;
    box-shadow: 5px 5px 10px grey;
}
#footer{
    text-align: center;
    font-style: italic;
}
#myCanvas{
    border:1px solid #dddddd;
    
}
#output{
    display: inline-block;
    align-content: center;
}
#canvas{
    background: #ffffff;
    box-shadow:5px 5px 5px #ccc;
	border:5px solid #eee;
	margin-bottom:10px;
}